<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserAuthorization</filter-name>
        <filter-class>Controller.Common.UserAuthorization</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorization</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.Public.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogsList</servlet-name>
        <servlet-class>Controller.Public.BlogsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetails</servlet-name>
        <servlet-class>Controller.Public.BlogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsList</servlet-name>
        <servlet-class>Controller.Public.ProductsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>Controller.Public.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetails</servlet-name>
        <servlet-class>Controller.Public.CartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContact</servlet-name>
        <servlet-class>Controller.Public.CartContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletion</servlet-name>
        <servlet-class>Controller.Public.CartCompletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Controller.Public.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>Controller.Common.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>Controller.Common.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.Common.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>Controller.Common.UserProfile</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>UserAuthorization</servlet-name>
        <servlet-class>Controller.Common.UserAuthorization</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>MyOrders</servlet-name>
        <servlet-class>Controller.Customer.MyOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformation</servlet-name>
        <servlet-class>Controller.Customer.OrderInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboard</servlet-name>
        <servlet-class>Controller.Marketing.MKTDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsList</servlet-name>
        <servlet-class>Controller.Marketing.PostsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetails</servlet-name>
        <servlet-class>Controller.Marketing.PostDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlidersList</servlet-name>
        <servlet-class>Controller.Marketing.SlidersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetails</servlet-name>
        <servlet-class>Controller.Marketing.SliderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListMarketing</servlet-name>
        <servlet-class>Controller.Marketing.ProductsListMarketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsMarketing</servlet-name>
        <servlet-class>Controller.Marketing.ProductDetailsMarketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersList</servlet-name>
        <servlet-class>Controller.Marketing.CustomersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetails</servlet-name>
        <servlet-class>Controller.Marketing.CustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbacksList</servlet-name>
        <servlet-class>Controller.Marketing.FeedbacksList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetails</servlet-name>
        <servlet-class>Controller.Marketing.FeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboard</servlet-name>
        <servlet-class>Controller.Sale.SaleDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersList</servlet-name>
        <servlet-class>Controller.Sale.OrdersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>Controller.Sale.OrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.Admin.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersList</servlet-name>
        <servlet-class>Controller.Admin.UsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>Controller.Admin.UserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsList</servlet-name>
        <servlet-class>Controller.Admin.SettingsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetails</servlet-name>
        <servlet-class>Controller.Admin.SettingDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.Common.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductList</servlet-name>
        <servlet-class>Controller.Public.SearchProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.Common.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrder</servlet-name>
        <servlet-class>Controller.Sale.UpdateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFeedbackStatus</servlet-name>
        <servlet-class>Controller.Marketing.ChangeFeedbackStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusPost</servlet-name>
        <servlet-class>Controller.Marketing.ChangeStatusPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusUser</servlet-name>
        <servlet-class>Controller.Admin.ChangeStatusUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusSliderList</servlet-name>
        <servlet-class>Controller.Marketing.changeStatusSliderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderUser</servlet-name>
        <servlet-class>Controller.Customer.UpdateOrderUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogsList</servlet-name>
        <url-pattern>/BlogsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetails</servlet-name>
        <url-pattern>/BlogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsList</servlet-name>
        <url-pattern>/ProductsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetails</servlet-name>
        <url-pattern>/CartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContact</servlet-name>
        <url-pattern>/CartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletion</servlet-name>
        <url-pattern>/CartCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>UserAuthorization</servlet-name>
        <url-pattern>/UserAuthorization</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>MyOrders</servlet-name>
        <url-pattern>/MyOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformation</servlet-name>
        <url-pattern>/OrderInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboard</servlet-name>
        <url-pattern>/MKTDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsList</servlet-name>
        <url-pattern>/PostsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetails</servlet-name>
        <url-pattern>/PostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlidersList</servlet-name>
        <url-pattern>/SlidersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetails</servlet-name>
        <url-pattern>/SliderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListMarketing</servlet-name>
        <url-pattern>/ProductsListMarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsMarketing</servlet-name>
        <url-pattern>/ProductDetailsMarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersList</servlet-name>
        <url-pattern>/CustomersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetails</servlet-name>
        <url-pattern>/CustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbacksList</servlet-name>
        <url-pattern>/FeedbacksList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetails</servlet-name>
        <url-pattern>/FeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboard</servlet-name>
        <url-pattern>/SaleDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersList</servlet-name>
        <url-pattern>/OrdersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/OrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersList</servlet-name>
        <url-pattern>/UsersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsList</servlet-name>
        <url-pattern>/SettingsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetails</servlet-name>
        <url-pattern>/SettingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductList</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrder</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFeedbackStatus</servlet-name>
        <url-pattern>/ChangeFeedbackStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusPost</servlet-name>
        <url-pattern>/ChangeStatusPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusUser</servlet-name>
        <url-pattern>/ChangeStatusUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusSliderList</servlet-name>
        <url-pattern>/changeStatusSliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderUser</servlet-name>
        <url-pattern>/UpdateOrderUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
